{% extends "base.html" %}

{% block content %}
    <h2>Works Log</h2>
    {% for item, captain in all%}
        <h5>Action # {{ item.id }}</h5>
        <table>
            <tr>
                <th>Title of activity</th>
                <th>Team leader</th>
                <th>Duration</th>
                <th>List of collaborators</th>
                <th>Is finished</th>
            </tr>
            <tr>
                <td style="background-color: #a5caf8;">{{ item.job }}</td>
                <td style="background-color: #a5caf8;">{{ captain }}</td>
                <td style="background-color: #a5caf8;">{{ item.work_size }} hours</td>
                <td style="background-color: #a5caf8;">{{ item.collaborators }}</td>
                {% if item.is_finished %}
                    <td style="background-color: #a5caf8;">Is yes finished</td>
                {% else %}
                    <td style="background-color: #a5caf8;">Is not finished</td>
                {% endif %}
            </tr>
        </table>
    {% endfor %}
{% endblock %}